.intro-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 100%;
}

@media only screen and (min-width: 651px) {
  .intro-cont {
    flex-direction: row;
  }
}

@media only screen and (max-width: 650px) {
  .intro-cont {
    flex-direction: column;
  }
}
