.intro-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  /* max-width: 80vw; */


  
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .intro-cont {

    flex-direction: row;
  
  }
}

@media only screen and (max-width: 600px) {
  .intro-cont {

    flex-direction: column;
  
  }
}
