.slide-list-cont ul {
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0px;
  position: fixed;
  bottom: 10vh;
  left: 0;
  right: 0;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .slide-list-cont ul {
    width: 100vw;
    bottom: 0.5vh;
  }
}

.slide-list-cont ul li {
  margin: 0em 0.5em 0em 0.5em;
  display: inline-block;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(51, 61, 71, 0.4);
}

.portfolio-circle-icon {
  color: #c74778;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  border: 1.25px solid #c74778;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.portfolio-fill-icon {
  background-color: #c74778;
}
