.tag {
  color: rgb(50, 50, 50);
  /* border: 1px solid #000; */
  /* box-shadow: 2px 2px 2px rgba(51, 61, 71, 0.4); */
  border-radius: 5px;
  padding: 1.5%;
  margin: 1.5%;
  display: inline-block;
  text-align: left;
  background: rgba(255, 226, 234, 0.5);
}
