.card-cont {
  text-align: left;
  display: grid;
  grid-template-columns: 50% 2.5% 45% 2.5%;
  grid-template-rows: 1fr 1fr 2.5fr 1fr 2.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  overflow: hidden;
  max-height: 80vh;
  height: 80vh;
}

.portfolio-image {
  grid-area: 1 / 1 / 7 / 2;
  width: 100%;
  height: 100%;
}

.name {
  grid-area: 2 / 3 / 3 / 4;
  color: #c74778;
  text-shadow: 1px 1px 1px rgba(51, 61, 71, 0.4);
}

.descriptionList {
  grid-area: 3 / 3 / 4 / 4;
  padding-right: 45px;
  padding-left: 20px;
  align-self: start;
}

.description {
  padding-top: 5px;
  padding-bottom: 5px;
}

.portfolio-icon-cont {
  grid-area: 4 / 3 / 5 / 4;
}

.tagList {
  grid-area: 5 / 3 / 6 / 4;
  align-self: start;
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0px;
}

.portfolio-icon {
  font-size: 1.5em;
}

.portfolio-icon-ref {
  margin: 0.5em;
  text-align: center;
  font-size: 1.25em;
  position: relative;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
}

.portfolio-icon-ref:hover {
  color: #c74778;
  text-shadow: 2px 2px 2px rgba(51, 61, 71, 0.2);
}
