.profile-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 400;
  max-height: 80vh;
  height: 80vh;
  width: 80vw;
  max-width: 135vh;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

@media only screen and (min-width: 501px) {
  .profile-cont {
    flex-direction: row;
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 500px) {
  .profile-cont {
    flex-direction: column;
  }
}

@media only screen and (min-width: 501px) {
  .profile-info-cont {
    margin: 0vw 0vw 2vw 1.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1em 0em 2em 1.5em;
    font-size: min(1em, 2.5vh);
  }
}
@media only screen and (max-width: 500px) {
  .profile-info-cont {
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
}

.profile-image-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 501px) {
  .profile-image-cont {
    margin: 1vw;
    padding: 2vw;
  }
}

@media only screen and (max-width: 500px) {
  .profile-image-cont {
    overflow: hidden;
  }
}

@media only screen and (min-width: 501px) {
  .profile-image {
    width: 30vw;
    border-radius: 70px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 500px) {
  .profile-image {
    width: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

.profile-icon {
  font-size: 1.5em;
}
.profile-icon-ref {
  margin: 0.5em;
  text-align: center;
  font-size: 1.25em;
  position: relative;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
}

.profile-icon-ref:hover {
  color: #c74778;
}

.profile-info-name {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
}
.profile-info-cont p {
  max-height: 40vh;
  text-align: left;
}

.profile-info-icon {
  padding: 0em 0.2em 0em 0.2em;
  text-shadow: 2px 2px 2px rgba(51, 61, 71, 0.2);
}

.html-icon {
  margin-left: 0.4em;
  color: rgb(228, 77, 38);
}
.css-icon {
  color: rgb(38, 77, 228);
}
.js-icon {
  color: rgb(233, 202, 50);
}
.react-icon {
  color: rgb(36, 202, 254);
}
.java-icon {
  color: rgb(230, 31, 36);
}
.android-icon {
  color: rgb(159, 196, 55);
}
.db-icon {
  color: rgb(64, 135, 194);
}
