.read-more-btn {
  z-index: 10;
  position: absolute;
  bottom: 25vh;
  width: 300px;
  left: 50px;
  height: 50px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  border: 2px solid #c64675;
  font-size: 1.25em;
  color: #c64675;
}

/* svg image */

.project-svg {
  width: 20vw;
  margin-left: 40vw;
}

.project-svg #path-7 {
  fill: #693c3c;
  stroke: #693c3c;
}
.project-svg #path-6 {
  fill: #fdfffc;
  stroke: #fdfffc;
}
.project-svg #path-5 {
  fill: #1d120d;
  stroke: #1d120d;
}
.project-svg #path-4 {
  fill: #f59f52;
  stroke: #f59f52;
}
.project-svg #path-3 {
  fill: #f3c891;
  stroke: #f3c891;
}
.project-svg #path-2 {
  fill: #9f5c24;
  stroke: #9f5c24;
}
.project-svg #path-1 {
  fill: #44250f;
  stroke: #44250f;
}
.project-svg #path-0 {
  fill: #c64675;
  stroke: #c64675;
  /* fill: #468cc6;
  stroke: #468cc6; */
}
