.project-cont {
  z-index:10;
}
.project-svg {
  width: 20vw;
  margin-left: 40vw;
  animation: project-svg-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}

@keyframes project-svg-anim {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.project-svg #path-7 {
  fill: #693c3c;
  stroke: #693c3c;
}
.project-svg #path-6 {
  fill: #fdfffc;
  stroke: #fdfffc;
}
.project-svg #path-5 {
  fill: #1d120d;
  stroke: #1d120d;
}
.project-svg #path-4 {
  fill: #f59f52;
  stroke: #f59f52;
}
.project-svg #path-3 {
  fill: #f3c891;
  stroke: #f3c891;
}
.project-svg #path-2 {
  fill: #9f5c24;
  stroke: #9f5c24;
}
.project-svg #path-1 {
  fill: #44250f;
  stroke: #44250f;
}
.project-svg #path-0 {
  fill: #c64675;
  stroke: #c64675;
}
