.flower-cont svg {
  fill: none;
  max-width: 98vw;
  max-height: 98vw;
  stroke: white;
}
.flower-cont path {
  stroke-width: 2.5px;
  opacity: 0.85;
}

.flower-cont #path-0 {
  stroke: #cccccc57;
}
.flower-cont #path-1 {
  stroke: #6699cc71;
}
.flower-cont #path-2 {
  stroke: #669999;
}
.flower-cont #path-3 {
  stroke: #ccccff;
}
.flower-cont #path-4 {
  stroke: #9999cc91;
}
.flower-cont #path-5 {
  stroke: #6666995d;
}
.flower-cont #path-6 {
  stroke: #698869;
}
.flower-cont #path-7 {
  stroke: #1c94da9a;
}
.flower-cont #path-8 {
  stroke: #24dfdf81;
}
.flower-cont #path-9 {
  stroke: #2ac52a50;
}
.flower-cont #path-10 {
  stroke: #43b128a4;
}
.flower-cont #path-11 {
  stroke: #6666cc;
}
.flower-cont #path-12 {
  stroke: #33336698;
}
.flower-cont #path-13 {
  stroke: #336666;
}
.flower-cont #path-14 {
  stroke: #9966cc;
}
.flower-cont #path-15 {
  stroke: #cc99997e;
}
.flower-cont #path-16 {
  stroke: #ffcccc;
}
.flower-cont #path-17 {
  stroke: #ffccff;
}
.flower-cont #path-18 {
  stroke: #cc99cc;
}
.flower-cont #path-19 {
  stroke: #9966999d;
}
.flower-cont #path-20 {
  stroke: #330066;
}
.flower-cont #path-21 {
  stroke: #333399;
}
.flower-cont #path-22 {
  stroke: #339966;
}
.flower-cont #path-23 {
  stroke: #339933;
}
.flower-cont #path-24 {
  stroke: #333333;
}
.flower-cont #path-25 {
  stroke: #663366;
}
.flower-cont #path-26 {
  stroke: #663399;
}
.flower-cont #path-27 {
  stroke: #336633;
}
.flower-cont #path-28 {
  stroke: #003333;
}
.flower-cont #path-29 {
  stroke: #330033;
}
.flower-cont #path-30 {
  stroke: #000033;
}
.flower-cont #path-31 {
  stroke: #000000;
}
.flower-cont #path-32 {
  stroke: #663333;
}
.flower-cont #path-33 {
  stroke: #996666;
}
.flower-cont #path-34 {
  stroke: #330000;
}
.flower-cont #path-35 {
  stroke: #996633;
}
.flower-cont #path-36 {
  stroke: #cc6666;
}
.flower-cont #path-37 {
  stroke: #cc9966;
}
.flower-cont #path-38 {
  stroke: #993333;
}
.flower-cont #path-39 {
  stroke: #993366;
}
.flower-cont #path-40 {
  stroke: #66cc99;
}
.flower-cont #path-41 {
  stroke: #66cc66;
}
.flower-cont #path-42 {
  stroke: #666633;
}
.flower-cont #path-43 {
  stroke: #ff9966;
}
.flower-cont #path-44 {
  stroke: #999966;
}
.flower-cont #path-45 {
  stroke: #669933;
}
.flower-cont #path-46 {
  stroke: #cccc99;
}
.flower-cont #path-47 {
  stroke: #660066;
}
.flower-cont #path-48 {
  stroke: #cc6699;
}
.flower-cont #path-49 {
  stroke: #660000;
}
.flower-cont #path-50 {
  stroke: #ffffcc;
}
.flower-cont #path-51 {
  stroke: #ffcc99;
}
.flower-cont #path-52 {
  stroke: #990066;
}
.flower-cont #path-53 {
  stroke: #cc3333;
}
.flower-cont #path-54 {
  stroke: #cc0066;
}
.flower-cont #path-55 {
  stroke: #ff9933;
}
.flower-cont #path-56 {
  stroke: #ff6699;
}
.flower-cont #path-57 {
  stroke: #cccc66;
}
.flower-cont #path-58 {
  stroke: #ffff33;
}
.flower-cont #path-59 {
  stroke: #663300;
}
.flower-cont #path-60 {
  stroke: #cc6633;
}
.flower-cont #path-61 {
  stroke: #cc6600;
}
.flower-cont #path-62 {
  stroke: #ff6600;
}
.flower-cont #path-63 {
  stroke: #ffff66;
}
.flower-cont #path-64 {
  stroke: #cc3300;
}
.flower-cont #path-65 {
  stroke: #990033;
}
.flower-cont #path-66 {
  stroke: #ff6633;
}
.flower-cont #path-67 {
  stroke: #ff9999;
}
.flower-cont #path-68 {
  stroke: #ffff99;
}
.flower-cont #path-69 {
  stroke: #cccc33;
}
.flower-cont #path-70 {
  stroke: #996600;
}
.flower-cont #path-71 {
  stroke: #cc9933;
}
.flower-cont #path-72 {
  stroke: #999933;
}
.flower-cont #path-73 {
  stroke: #ff3399;
}
.flower-cont #path-74 {
  stroke: #660033;
}
.flower-cont #path-75 {
  stroke: #ffff00;
}
.flower-cont #path-76 {
  stroke: #ffcc33;
}
.flower-cont #path-77 {
  stroke: #990000;
}
.flower-cont #path-78 {
  stroke: #cc66cc;
}
.flower-cont #path-79 {
  stroke: #cc3399;
}
.flower-cont #path-80 {
  stroke: #cccc00;
}
.flower-cont #path-81 {
  stroke: #cc9900;
}
.flower-cont #path-82 {
  stroke: #ff6666;
}
.flower-cont #path-83 {
  stroke: #ff3333;
}
.flower-cont #path-84 {
  stroke: #cc3366;
}
.flower-cont #path-85 {
  stroke: #cc0033;
}
.flower-cont #path-86 {
  stroke: #ff3366;
}
.flower-cont #path-87 {
  stroke: #ff99ff;
}
.flower-cont #path-88 {
  stroke: #ffcc66;
}
.flower-cont #path-89 {
  stroke: #cc99ff;
}
.flower-cont #path-90 {
  stroke: #cc0099;
}
.flower-cont #path-91 {
  stroke: #ff0066;
}
.flower-cont #path-92 {
  stroke: #993300;
}
.flower-cont #path-93 {
  stroke: #cc0000;
}
.flower-cont #path-94 {
  stroke: #ffcc00;
}
.flower-cont #path-95 {
  stroke: #993399;
}
.flower-cont #path-96 {
  stroke: #ff3300;
}
.flower-cont #path-97 {
  stroke: #ff66cc;
}
.flower-cont #path-98 {
  stroke: #ff99cc;
}
.flower-cont #path-99 {
  stroke: #ff0000;
}

.with-fill #path-0 {
  fill: #cccccc57;
}
.with-fill #path-1 {
  fill: #6699cc71;
}
.with-fill #path-2 {
  fill: #669999;
}
.with-fill #path-3 {
  fill: #ccccff;
}
.with-fill #path-4 {
  fill: #9999cc91;
}
.with-fill #path-5 {
  fill: #6666995d;
}
.with-fill #path-6 {
  fill: #698869;
}
.with-fill #path-7 {
  fill: #1c94da9a;
}
.with-fill #path-8 {
  fill: #24dfdf81;
}
.with-fill #path-9 {
  fill: #2ac52a50;
}
.with-fill #path-10 {
  fill: #43b128a4;
}
.with-fill #path-11 {
  fill: #6666cc;
}
.with-fill #path-12 {
  fill: #33336698;
}
.with-fill #path-13 {
  fill: #336666;
}
.with-fill #path-14 {
  fill: #9966cc;
}
.with-fill #path-15 {
  fill: #cc99997e;
}
.with-fill #path-16 {
  fill: #ffcccc;
}
.with-fill #path-17 {
  fill: #ffccff;
}
.with-fill #path-18 {
  fill: #cc99cc;
}
.with-fill #path-19 {
  fill: #9966999d;
}
.with-fill #path-20 {
  fill: #330066;
}
.with-fill #path-21 {
  fill: #333399;
}
.with-fill #path-22 {
  fill: #339966;
}
.with-fill #path-23 {
  fill: #339933;
}
.with-fill #path-24 {
  fill: #333333;
}
.with-fill #path-25 {
  fill: #663366;
}
.with-fill #path-26 {
  fill: #663399;
}
.with-fill #path-27 {
  fill: #336633;
}
.with-fill #path-28 {
  fill: #003333;
}
.with-fill #path-29 {
  fill: #330033;
}
.with-fill #path-30 {
  fill: #000033;
}
.with-fill #path-31 {
  fill: #000000;
}
.with-fill #path-32 {
  fill: #663333;
}
.with-fill #path-33 {
  fill: #996666;
}
.with-fill #path-34 {
  fill: #330000;
}
.with-fill #path-35 {
  fill: #996633;
}
.with-fill #path-36 {
  fill: #cc6666;
}
.with-fill #path-37 {
  fill: #cc9966;
}
.with-fill #path-38 {
  fill: #993333;
}
.with-fill #path-39 {
  fill: #993366;
}
.with-fill #path-40 {
  fill: #66cc99;
}
.with-fill #path-41 {
  fill: #66cc66;
}
.with-fill #path-42 {
  fill: #666633;
}
.with-fill #path-43 {
  fill: #ff9966;
}
.with-fill #path-44 {
  fill: #999966;
}
.with-fill #path-45 {
  fill: #669933;
}
.with-fill #path-46 {
  fill: #cccc99;
}
.with-fill #path-47 {
  fill: #660066;
}
.with-fill #path-48 {
  fill: #cc6699;
}
.with-fill #path-49 {
  fill: #660000;
}
.with-fill #path-50 {
  fill: #ffffcc;
}
.with-fill #path-51 {
  fill: #ffcc99;
}
.with-fill #path-52 {
  fill: #990066;
}
.with-fill #path-53 {
  fill: #cc3333;
}
.with-fill #path-54 {
  fill: #cc0066;
}
.with-fill #path-55 {
  fill: #ff9933;
}
.with-fill #path-56 {
  fill: #ff6699;
}
.with-fill #path-57 {
  fill: #cccc66;
}
.with-fill #path-58 {
  fill: #ffff33;
}
.with-fill #path-59 {
  fill: #663300;
}
.with-fill #path-60 {
  fill: #cc6633;
}
.with-fill #path-61 {
  fill: #cc6600;
}
.with-fill #path-62 {
  fill: #ff6600;
}
.with-fill #path-63 {
  fill: #ffff66;
}
.with-fill #path-64 {
  fill: #cc3300;
}
.with-fill #path-65 {
  fill: #990033;
}
.with-fill #path-66 {
  fill: #ff6633;
}
.with-fill #path-67 {
  fill: #ff9999;
}
.with-fill #path-68 {
  fill: #ffff99;
}
.with-fill #path-69 {
  fill: #cccc33;
}
.with-fill #path-70 {
  fill: #996600;
}
.with-fill #path-71 {
  fill: #cc9933;
}
.with-fill #path-72 {
  fill: #999933;
}
.with-fill #path-73 {
  fill: #ff3399;
}
.with-fill #path-74 {
  fill: #660033;
}
.with-fill #path-75 {
  fill: #ffff00;
}
.with-fill #path-76 {
  fill: #ffcc33;
}
.with-fill #path-77 {
  fill: #990000;
}
.with-fill #path-78 {
  fill: #cc66cc;
}
.with-fill #path-79 {
  fill: #cc3399;
}
.with-fill #path-80 {
  fill: #cccc00;
}
.with-fill #path-81 {
  fill: #cc9900;
}
.with-fill #path-82 {
  fill: #ff6666;
}
.with-fill #path-83 {
  fill: #ff3333;
}
.with-fill #path-84 {
  fill: #cc3366;
}
.with-fill #path-85 {
  fill: #cc0033;
}
.with-fill #path-86 {
  fill: #ff3366;
}
.with-fill #path-87 {
  fill: #ff99ff;
}
.with-fill #path-88 {
  fill: #ffcc66;
}
.with-fill #path-89 {
  fill: #cc99ff;
}
.with-fill #path-90 {
  fill: #cc0099;
}
.with-fill #path-91 {
  fill: #ff0066;
}
.with-fill #path-92 {
  fill: #993300;
}
.with-fill #path-93 {
  fill: #cc0000;
}
.with-fill #path-94 {
  fill: #ffcc00;
}
.with-fill #path-95 {
  fill: #993399;
}
.with-fill #path-96 {
  fill: #ff3300;
}
.with-fill #path-97 {
  fill: #ff66cc;
}
.with-fill #path-98 {
  fill: #ff99cc;
}
.with-fill #path-99 {
  fill: #ff0000;
}

/* .without-fill,
.without-fill path  {
  fill: white;
  stroke: white;
} */