.flower-cont {
  height: 100%;
  position: absolute;
}

@media only screen and (min-width: 651px) {
  .flower-cont {
    transform: translate(-35%, 5%);
    width: 50%;
  }
}

@media only screen and (max-width: 650px) {
  .flower-cont {
    transform: translate(10%, 0%);
    width: 80%;
  }
}
