body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.app {
  text-align: center;
  background-image: url("../images/background.png");
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  height: 80vh;
  width: 80vw;
  max-width: 135vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

@media only screen and (max-width: 500px) {
  .read-more-btn {
    position: absolute;
    top: calc(50% + 15vh);
    width: 50vw;
    max-width: 250px;
    left: 5%;
    height: 5vw;
    max-height: 50px;
    min-height: 50px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    border: 1.75px solid #c64675;
    font-size: 1.25em;
    color: #c64675;
    font-family: Calibri;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 500;
  }
  .hide-read-more-btn {
    text-shadow: -1px 1px 5px rgba(51, 61, 71, 0.4);
    position: absolute;
    top: 11%;
    opacity: 1;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 5px rgba(51, 61, 71, 0.4);
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    color: #c64675;
    z-index: 500;
    width: 30px;
    height: 30px;
    border: 1.25px solid #c74778;
    left: 78%;
    font-family: monospace;
    font-weight: 500;
    font-size: 1.75em;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
  }
}

svg {
  z-index: 99;
}
