.brush-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.brush-container .brush-intro {
  opacity: 0;
}
.brush-container .brush-project,
.brush-container .brush-about {
  opacity: 0.8;
  z-index: 1;
}
.brush-container .brush-read-more {
  opacity: 0.4;
  z-index: 200;
}

/* #first,
#second,
#third {
  position: fixed;
} */

img#first.brush-intro {
  width: 0%;
  height: 0%;
  transform: translate(0%, 5%);
  opacity: 0;
}

img#second.brush-intro {
  width: 0%;
  height: 0%;
  transform: translate(0%, 5%);
  opacity: 0;
}

img#third.brush-intro {
  width: 0%;
  height: 0%;
  transform: translate(0%, 5%);
  opacity: 0;
}

@media only screen and (min-width: 501px) {
  img#first.brush-project {
    width: 55%;
    height: 60%;
    transform: translate(-25%, 5%);
    opacity: 1;
  }
}
@media only screen and (max-width: 500px) {
  img#first.brush-project {
    width: 80%;
    height: 50%;
    transform: translate(-45%, 15%);
    opacity: 1;
  }
}

@media only screen and (min-width: 501px) {
  img#second.brush-project {
    width: 35%;
    height: 35%;
    transform: translate(-55%, 55%);
    opacity: 0.7;
  }
}
@media only screen and (max-width: 500px) {
  img#second.brush-project {
    width: 50%;
    height: 30%;
    transform: translate(-55%, 55%);
    opacity: 0.7;
  }
}

@media only screen and (min-width: 501px) {
  img#third.brush-project {
    width: 20%;
    height: 25%;
    transform: translate(50%, 40%);
    opacity: 0.6;
  }
}
@media only screen and (max-width: 500px) {
  img#third.brush-project {
    width: 40%;
    height: 25%;
    transform: translate(-60%, -90%);
    opacity: 0.6;
  }
}

@media only screen and (min-width: 501px) {
  img#first.brush-about {
    width: 55%;
    height: 60%;
    transform: translate(-15%, 15%);
    opacity: 1;
  }
}
@media only screen and (max-width: 500px) {
  img#first.brush-about {
    width: 80%;
    height: 50%;
    transform: translate(-35%, 35%);
    opacity: 1;
  }
}

@media only screen and (min-width: 501px) {
  img#second.brush-about {
    width: 35%;
    height: 35%;
    transform: translate(-25%, 25%);
    opacity: 0.7;
  }
}
@media only screen and (max-width: 500px) {
  img#second.brush-about {
    width: 50%;
    height: 30%;
    transform: translate(-45%, 45%);
    opacity: 0.7;
  }
}

@media only screen and (min-width: 501px) {
  img#third.brush-about {
    width: 20%;
    height: 25%;
    transform: translate(40%, 20%);
    opacity: 0.6;
  }
}
@media only screen and (max-width: 500px) {
  img#third.brush-about {
    width: 40%;
    height: 25%;
    transform: translate(-70%, -50%);
    opacity: 0.6;
  }
}

img#first.brush-read-more {
  height: 100%;
  width: 100%;
  transform: translate(-10%, 0%);
  opacity: 1;
}

img#second.brush-read-more {
  width: 65%;
  height: 65%;
  transform: translate(-80%, 55%);
  opacity: 1;
}

img#third.brush-read-more {
  width: 65%;
  height: 65%;
  transform: translate(40%, -150%);
  opacity: 1;
}

/* .change-shape  */

.brush-container img {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
