.brush-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.brush-container .brush-intro {
  opacity: 0;
}
.brush-container .brush-project,
.brush-container .brush-about {
  opacity: 0.8;
  z-index: 1;
}
.brush-container .brush-read-more {
  opacity: 0.4;
  z-index: 200;
}
img#first.brush-intro {
  position: absolute;

  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%);
}

img#second.brush-intro {
  position: absolute;

  width: 0%;
  height: 0%;
  transform: translate(0%, 5%);
}

img#third.brush-intro {
  position: absolute;
  width: 0%;
  height: 0%;
  left: 0%;
  right: auto;
  top: 0%;
  transform: translate(0%, 5%);
}

img#first.brush-project {
  position: absolute;
  transform: translate(-5%, 5%) rotate(-5deg);
}
@media only screen and (min-width: 501px) {
  img#first.brush-project {
    width: 55%;
    height: 60%;
  }
}
@media only screen and (max-width: 500px) {
  img#first.brush-project {
    width: 80%;
    height: 50%;
  }
}

img#second.brush-project {
  transform: translate(-55%, 55%) rotate(5deg);
  z-index: 6;
  opacity: 0.7;
}

@media only screen and (min-width: 501px) {
  img#second.brush-project {
    width: 35%;
    height: 35%;
  }
}
@media only screen and (max-width: 500px) {
  img#second.brush-project {
    width: 50%;
    height: 30%;
  }
}

img#third.brush-project {
  height: 25%;
  z-index: 4;
  opacity: 0.6;
}
@media only screen and (min-width: 501px) {
  img#third.brush-project {
    width: 20%;
    transform: translate(-60%, -120%);
  }
}
@media only screen and (max-width: 500px) {
  img#third.brush-project {
    width: 40%;
    transform: translate(-60%, -90%);
  }
}

img#first.brush-about {
  height: 55%;
  position: absolute;
  transform: translate(-5%, 15%);
}
@media only screen and (min-width: 501px) {
  img#first.brush-about {
    width: 30%;
  }
}
@media only screen and (max-width: 500px) {
  img#first.brush-about {
    width: 90%;
  }
}
img#second.brush-about {
  width: 40%;
  height: 40%;
  z-index: 6;
  opacity: 0.5;
}
@media only screen and (min-width: 501px) {
  img#second.brush-about {
    width: 40%;
    transform: translate(-25%, 75%);
  }
}
@media only screen and (max-width: 500px) {
  img#second.brush-about {
    width: 65%;
    transform: translate(-25%, 35%);
  }
}

img#third.brush-about {
  height: 35%;
  transform: translate(-20%, -90%);
  z-index: 4;
  opacity: 0.6;
}

@media only screen and (min-width: 501px) {
  img#third.brush-about {
    width: 25%;
  }
}
@media only screen and (max-width: 500px) {
  img#third.brush-about {
    width: 50%;
  }
}

img#first.brush-read-more {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate(-10%, 0%);
}

img#second.brush-read-more {
  width: 65%;
  height: 65%;
  transform: translate(-80%, 55%);
}

img#third.brush-read-more {
  width: 65%;
  height: 65%;
  transform: translate(40%, -150%);
}

.change-shape {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
