.brush-container {
  position: absolute;
  width: 100%;
  height: 100%;
   overflow: hidden;
}

.brush-container .brush-intro {
  opacity: 0;
}
.brush-container .brush-project,
.brush-container .brush-about {
  opacity: 0.8;
  z-index: 1;
}
.brush-container .brush-read-more {
  opacity: 0.4;
  z-index: 200;
}

#first,
#second,
#third {
  position: absolute;
}

img#first.brush-intro {
  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%);
}

img#second.brush-intro {
  width: 0%;
  height: 0%;
  transform: translate(0%, 5%);
}

img#third.brush-intro {
  width: 0%;
  height: 0%;
  transform: translate(0%, 5%);
}

@media only screen and (min-width: 501px) {
  img#first.brush-project {
    transform: translate(-25%, 5%) rotate(-5deg);
    width: 55%;
    height: 60%;
  }
}
@media only screen and (max-width: 500px) {
  img#first.brush-project {
    transform: translate(-45%, 15%) rotate(-5deg);
    width: 80%;
    height: 50%;
  }
}

img#second.brush-project {
  transform: translate(-55%, 55%) rotate(5deg);
  z-index: 6;
  opacity: 0.7;
}

@media only screen and (min-width: 501px) {
  img#second.brush-project {
    width: 35%;
    height: 35%;
  }
}
@media only screen and (max-width: 500px) {
  img#second.brush-project {
    width: 50%;
    height: 30%;
  }
}

img#third.brush-project {
  height: 25%;
  opacity: 0.6;
}
@media only screen and (min-width: 501px) {
  img#third.brush-project {
    width: 20%;
    transform: translate(50%, 40%);
  }
}
@media only screen and (max-width: 500px) {
  img#third.brush-project {
    width: 40%;
    transform: translate(-60%, -90%);
  }
}

img#first.brush-about {
  transform: translate(-5%, 15%) rotate(0);
  height: 55%;
}
@media only screen and (min-width: 501px) {
  img#first.brush-about {
    width: 30%;
  }
}
@media only screen and (max-width: 500px) {
  img#first.brush-about {
    width: 90%;
  }
}

img#second.brush-about {
  height: 40%;
  opacity: 0.5;
}

@media only screen and (min-width: 501px) {
  img#second.brush-about {
    width: 40%;
    transform: translate(-25%, 75%) rotate(0);
  }
}
@media only screen and (max-width: 500px) {
  img#second.brush-about {
    width: 65%;
    transform: translate(-25%, 35%) rotate(0);
  }
}

img#third.brush-about {
  height: 35%;
  opacity: 0.6;
  transform: translate(-20%, 90%) rotate(0);
}
@media only screen and (min-width: 501px) {
  img#third.brush-about {
    width: 25%;
  }
}
@media only screen and (max-width: 500px) {
  img#third.brush-about {
    width: 50%;
  }
}

img#first.brush-read-more {
  height: 100%;
  width: 100%;
  transform: translate(-10%, 0%);
}

img#second.brush-read-more {
  width: 65%;
  height: 65%;
  transform: translate(-80%, 55%);
}

img#third.brush-read-more {
  width: 65%;
  height: 65%;
  transform: translate(40%, -150%);
}

.change-shape {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
