.tab-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 80vw;
  bottom: 0;
  height: 10vh;
  z-index: 150;
}

.intro-container,
.project-container,
.about-container {
  border-color: rgb(127, 127, 127);
  border-style: solid;
  border-width: 0.25px;
  text-align: center;
  width: 33.3vw;
  cursor: pointer;
}
@media (pointer: fine) {
  .intro-container:hover,
  .project-container:hover,
  .about-container:hover {
    border-color: rgb(127, 127, 127);
    background-color: rgb(127, 127, 127, 0.1);
  }

  .tab-on:hover {
    border-color: rgb(255, 226, 234);
    background-color: rgb(255, 226, 234);
  }
}

.tab-on {
  border-radius: 1.5px 1.5px 0px 0px;
  transition: padding-bottom 0.5s;
  padding-bottom: 5px;

  border-color: rgb(255, 226, 234);
  background-color: rgb(255, 226, 234);
}

.tab-container p {
  font-size: 1em;
  color: rgb(127, 127, 127);
}

.tab-container .tab-on p {
  font-size: 1em;
  color: rgb(88, 88, 88);
}

.intro-container {
  border-width: 0.5px 0.25px 0px 0px;
}

.project-container {
  border-width: 0.5px 0.25px 0px 0.25px;
}

.about-container {
  border-width: 0.5px 0px 0px 0.25px;
}
