.title-cont{
  height: 100%;
  position: absolute;

}

@media only screen and (min-width: 651px) {
  .title-cont {
    right: 5%;
    top: 50%;
    width: 40%;

    /* right: 15%;
    top: 50%;
    width: 30%; */

  }
}

@media only screen and (max-width: 650px) {
  .title-cont {
    right: 10%;
    top: 60%;
    width: 80%;
  }
} 
.title-cont svg {
  fill: none;
  max-width: 98vw;
  max-height: 98vw;
}
.title-cont svg path {
  stroke-width: 5px;
  stroke: rgb(199, 71, 120);
}




/* 
@media only screen and (min-width: 901px) {
  .title-cont {
    width: 30vw;
    margin-top: 10vw;
    margin-left: 4vw;
  }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
  .title-cont {
    width: 40vw;
    margin-top: 20vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
@media only screen and (max-width: 500px) {
  .title-cont {
    width: 50vw;
    margin-top: 4vw;
    margin-left: 2vw;
  }
} */
