.title-cont svg {
  fill: none;
  max-width: 98vw;
  max-height: 98vh;
}
.title-cont svg path {
  stroke-width: 7px;
  stroke: rgb(199, 71, 120);
}

@media only screen and (min-width: 501px) {
  .title-cont {
    max-height: 30vh;
    max-width: 30vw;
    margin-left: 40vw;
  }
}
@media only screen and (max-width: 500px) {
  .title-cont {
    max-height: 50vh;
    max-width: 50vw;
    right:0;
    left:0;
    margin-top: 5vh;
    margin-left: 25vw;
  }
}
