body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.app {
  text-align: center;
  background: linear-gradient(180deg, #ecd4de 35%, rgba(236, 212, 222, 0) 100%),
    #ffffff;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
  will-change: transform;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  height: 80vh;
  width: 80vw;
  max-width: 135vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 80vw;
  bottom: 0;
  height: fit-content;
  z-index: 150;
}

.intro-container,
.project-container,
.about-container {
  border-color: rgb(127, 127, 127);
  border-style: solid;
  border-width: 0.25px;
  text-align: center;
  width: 33.3vw;
  cursor: pointer;
}

@media (pointer: fine) {
  .intro-container:hover,
  .project-container:hover,
  .about-container:hover {
    border-color: rgb(127, 127, 127);
    background-color: rgb(127, 127, 127, 0.1);
  }
  .read-more-btn:hover {
    background-color: rgb(250, 250, 250, 0.9);
  }
  .tab-on:hover {
    border-color: rgb(199, 71, 120);
    background-color: rgb(199, 71, 120);
  }
}

.tab-on {
  border-color: rgb(199, 71, 120);
  border-radius: 1.5px 1.5px 0px 0px;
  background-color: rgb(199, 71, 120);
  transition: padding-bottom 0.5s;
  padding-bottom: 5px;
}

.tab-on p {
  color: #fff;
}

.button-container p {
  font-size: 1em;
  color: rgb(127, 127, 127);
}

.button-container .tab-on p {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.intro-container {
  border-width: 0.5px 0.25px 0px 0px;
}

.project-container {
  border-width: 0.5px 0.25px 0px 0.25px;
}

.about-container {
  border-width: 0.5px 0px 0px 0.25px;
}

.read-more-btn {
  position: absolute;
  top: calc(50% + 15vh);
  width: 50vw;
  max-width: 250px;
  left: 10%;
  height: 5vw;
  max-height: 50px;
  min-height: 50px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  border: 1.75px solid #c64675;
  font-size: 1.25em;
  color: #c64675;
  font-family: Calibri;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 500;
}

svg {
  z-index: 99;
}
.blob-container {
  opacity: 0.5;
  z-index: 111;
}

.intro-blob-1 {
  background: #c64675;
  width: 35%;
  height: 50%;
  top: -25%;
  right: 20%;
  animation: blob-intro-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}
.intro-blob-2 {
  background: #c64675;
  right: 40%;
  top: -5%;
  width: 20%;
  height: 20%;
  animation: blob-intro-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}

.intro-blob-3 {
  background: #c64675;
  width: 35%;
  height: 35%;
  right: -5%;
  top: -5%;
  animation: blob-intro-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}

.project-blob-1 {
  width: 40%;
  height: 35%;
  background: #7746c6;
  top: 15%;
  right: 15%;
  animation: blob-project-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}
.project-blob-2 {
  background: #c64675;
  right: -10%;
  top: 20%;
  width: 60%;
  height: 60%;
  animation: blob-project-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}

.project-blob-3 {
  background: #46c67b;
  width: 30%;
  height: 30%;
  right: 5%;
  top: 5%;
  animation: blob-project-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}

.about-blob-1 {
  width: 30%;
  height: 45%;
  background: #6d44b5;
  top: 10%;
  right: 5%;
  animation: blob-about-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}
.about-blob-2 {
  background: #00ff40;
  right: 5%;
  top: 50%;
  width: 30%;
  height: 30%;
  animation: blob-about-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}

.about-blob-3 {
  background: #ff7300;
  width: 40%;
  height: 50%;
  right: 15%;
  top: 20%;
  animation: blob-about-anim 0.5s cubic-bezier(0, 0, 0.6, 1);
}

.blob-container * {
  /* animation: blob-anim 0.5s cubic-bezier(0, 0, 0.6, 1); */
  border-radius: 100%;
  position: absolute;
}

@keyframes blob-intro-anim {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
}

@keyframes blob-project-anim {
  0%,
  100% {
    transform: scale(1) translate3d(3, 3);
  }
  25% {
    transform: scale(0.95);
  }
}
@keyframes blob-about-anim {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
}
