.cloud-container {
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cloud-intro {
  background-color: red;
  border-radius: 48px;
  position: relative;
  width: 48px;
  height: 48px;
}

.cloud-intro::before,
.cloud-intro::after {
  background-color: green;
  border-radius: 50%;
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  right: 7px;
  top: -6px;
}

.cloud-intro::after {
  background-color: blue;
  width: 23px;
  height: 23px;
  left: 7px;
  right: auto;
  top: -10px;
}

.cloud-project {
  background-color: red;
  border-radius: 48px;
  position: relative;
  width: 28px;
  height: 28px;
}

.cloud-project::before,
.cloud-project::after {
  background-color: green;
  border-radius: 50%;
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  right: 17px;
  top: -6px;
}

.cloud-project::after {
  background-color: blue;
  width: 13px;
  height: 13px;
  left: 17px;
  right: auto;
  top: -10px;
}

.cloud-about {
  background-color: red;
  border-radius: 48px;
  position: relative;
  width: 48px;
  height: 48px;
}

.cloud-about::before,
.cloud-about::after {
  background-color: green;
  border-radius: 50%;
  content: "";
  width: 41px;
  height: 41px;
  position: absolute;
  right: 17px;
  top: -6px;
}

.cloud-about::after {
  background-color: blue;
  width: 43px;
  height: 43px;
  left: 17px;
  right: auto;
  top: -10px;
}

.cloud-read-more {
  background-color: red;
  border-radius: 10px;
  position: relative;
  width: 80px;
  height: 80px;
}

.cloud-read-more::before,
.cloud-read-more::after {
  background-color: green;
  border-radius: 50%;
  content: "";
  width: 0px;
  height: 0px;
  right: 10px;
  top: 10px;
  position: absolute;
}

.cloud-read-more::after {
  background-color: blue;
  width: 0px;
  height: 0px;
  right: 10px;
  top: 10px;
}

.change-shape,
.change-shape:after,
.change-shape:before {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
