.cloud-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

.cloud-container .cloud-intro {
  opacity: 0;
}
.cloud-container .cloud-project,
.cloud-container .cloud-about {
  opacity: 0.8;
  z-index: 1;
}
.cloud-container .cloud-read-more {
  opacity: 0.5;

  z-index: 200;
}
.cloud-intro {
  width: 0%;
  height: 0%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  opacity: 0;
}

.cloud-intro::before,
.cloud-intro::after {
  width: 50%;
  height: 50%;
  right: 5;
  top: 45%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  content: "";
}

.cloud-intro::after {
  width: 25%;
  height: 25%;
  left: -10%;
  right: auto;
  top: 25%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  content: "";
}

.cloud-project {
  width: 60%;
  height: 70%;
  position: absolute;
  background-image: url("./images/yellow-pink.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.cloud-project::before,
.cloud-project::after {
  width: 50%;
  height: 50%;
  right: 25%;
  top: 15%;
  position: absolute;
  background-image: url("./images/gold.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 6;
  opacity: 0.8;

  content: "";
}

.cloud-project::after {
  width: 50%;
  height: 60%;
  left: 10%;
  right: auto;
  top: 35%;
  position: absolute;
  background-image: url("./images/blue.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 4;
  opacity: 0.6;

  content: "";
}

.cloud-about {
  width: 55%;
  height: 65%;
  position: absolute;
  background-image: url("./images/yellow-pink.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.cloud-about::before,
.cloud-about::after {
  width: 40%;
  height: 40%;
  right: 30%;
  top: 15%;
  position: absolute;
  background-image: url("./images/gold.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 6;
  opacity: 0.8;

  content: "";
}

.cloud-about::after {
  width: 65%;
  height: 65%;
  left: 45%;
  right: auto;
  top: -10%;
  position: absolute;
  background-image: url("./images/blue.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 4;
  opacity: 0.6;

  content: "";
}

.cloud-read-more {
  background-image: url("./images/yellow-pink.png");
  background-size: 100% auto;
  background-position: center;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: 50%;
  /* height: calc(80vh + 5vw);
  width: calc(80vw + 5vw);
  max-width: calc(135vh + 5vw); */
  height: 100%;
  width: 100%;

  transform: translate(-50%, -50%);
}

.cloud-read-more::before,
.cloud-read-more::after {
  background-image: url("./images/rm.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  width: 0px;
  height: 0px;
  left: 90%;
  position: absolute;
  top: 20%;
  right: -20%;
}

.cloud-read-more::after {
  background-image: url("./images/rm.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: auto;
  width: 0px;
  height: 0px;
  top: 20%;
  right: -20%;
}

.change-shape,
.change-shape:after,
.change-shape:before {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
